.chart-container {
  display: grid;
  grid: 10% 80% 10% / 10% 90%;
  margin-bottom: 30px;
  max-width: 1000px;
}
.main-title {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: underline;
  grid-area: 1/2/2/3;
  text-align: center;
  padding-bottom: 15px;
}
.yTitle {
  font-family: sans-serif;
  grid-area: 1/1/4/2;
  text-align: center;
  display: block;
  display: flex;
  align-items: center;
  justify-content: end;
}
.yTitle div {
  transform: rotate(-90deg);
  width: max-content;
}
.xTitle {
  font-family: sans-serif;
  grid-area: 3/2/4/3;
  text-align: center;
  padding-top: 0px;
}
.chart {
  height: max-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  grid-area: 2/2/3/3;
}
.outer {
  position: relative;
  padding-left: 1px;
  height: auto;
  width: 20%;
  display: grid;
  grid-template-rows: 90% 10%;
}
.inner {
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: center;
}
.stack {
  display: flex;
  flex-direction: column-reverse;
}
.yAxis {
  height: 90%;
  min-width: 40px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: end;
}

.yAxis > div {
  position: absolute;
}
.yAxis .marker {
  width: 20px;
  border-bottom: 1px solid red;
}
.yAxis .marker-value {
  right: 25px;
  align-self: start;
  width: auto;
}
.xValues {
  overflow: scroll;
  align-self: center;
  justify-self: left;
}

.legend {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.subCat {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.swatch {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.rotated {
  transform: rotate(45deg);
  transform-origin: 0px 20px;
}
.shifted {
  padding-top: 40px;
}